---
layout: default
title: Links
---


<p class="content-width">
	Crows collect shiny things in their nests.
	I collect here links to a bunch of places on the internet that I find pretty cool!
</p>

<hr class="hr--lit">

<section class="content-width h-feed">
{% for post in site.collections.links | reverse %}
	{% set post = recipe.build(post) %}

	{% set post_year = post.date.year %}
	{% if loop.changed(post_year) and not loop.first %}
		<div
			style="
				text-align: right;
				font-size: 1.2em;
				color: grey;
				width: 100%;
				margin: 1em 0;
				border-bottom: 1px solid var(--stroke);
			"
			role="separator"
		>
			{{ post_year }}
		</div>
	{% endif %}

	<details name="h-entry" class="h-entry">
		<summary class="paper p-name">
			{{ post.title }}
		</summary>

		<dt>url</dt>
		<dd><a class="u-bookmark-of" href="{{ post.href }}">{{ post.href }}</a></dd>

		<dt>date added</dt>
		<dd>
			<a class="u-url" href="{{ post.url }}">
				<time datetime="{{ post.date.strftime("%Y-%m-%d") }}" class="dt-published">
					{{ post.date.strftime("%-d %b %Y") }}
				</time>
			</a>
		</dd>

		{% set tags = parse_tags(post) %}
		{% if tags %}
			<dt>tags</dt>
			<dd>{% for tag in tags %}{{tag}} {% endfor %}</dd>
		{% endif %}

		<section class="e-content">
			{{ post.content }}
		</section>
	</details>
{% endfor %}
</section>

<hr class="content-width">

<section id="buttons" class="content-width">
	{% macro mirror(src) %}
	{{- recipe.fetch(src) | step.write_ca("88x31." + src.rsplit(".", 1)[-1]) -}}
	{% endmacro %}

	{% for href, name, src in [
		("https://suricrasia.online/", "Suricrasia Online", mirror("https://www.blackle-mori.com/images/suricrasia_online_88x31.png")),
		("https://lunabee.space/", "beespace", mirror("https://lunabee.space/8831.gif")),
		("https://citrons.xyz/memetic-apioform-page", "what is an apioform?", mirror("https://citrons.xyz/a/static/apiopage88x31.png")),
		("https://neocities.org/", "Neocities", mirror("https://plasticdino.net/neocities-pink.gif")),
		("https://kwellig.garden/", "Kwellig's Garden", "/88x31.png"),
	] %}
	<a href="{{href}}">
		<img
			src="{{src}}"
			title="{{name}}"
			style="image-rendering: pixelated"
			width="88"
			height="31"
			class="img--zoom"
		/>
	</a>
	{% endfor %}
</section>

<style>
.h-feed {
	display: flex;
	flex-wrap: wrap;
}

details.h-entry {
	background: none;
	border: none;
	margin: 0;
	padding: 0;

	display: contents;

	> summary {
		display: inline-block;
		--angle: calc((var(--random) - 0.5) * 3deg);
	}

	&[open] > summary {
		background: var(--filled-bg);
		color: var(--filled-fg);

		--angle: calc((var(--random) - 0.5) * -5deg);
	}

	&[open]::details-content {
		width: 100%;
	}
}


#buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0.2em;

	> * {
		flex-grow: 0;
		flex-shrink: 0;
	}
}
</style>
