/*
 * Colour scheme & other variable declarations
 */

html { // for non-sass use
	// based on <https://github.com/system-fonts/modern-font-stacks>
	--main-font-family: Merriweather, "Iowan Old Style", "Palatino Linotype", "URW Palladio L", "P052", serif;
	--mono-font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
	--hand-font-family: cursive, sans-serif;

	/* text */
	--body-fg: light-dark(black, #e7e6e5);
	--body-bg: light-dark(white, #191a1a);

	// ui lines
	--stroke: rgba(127.5, 127.5, 127.5, 0.4);
	
	// background of boxes/etc
	--box-tint: color-mix(in srgb, var(--primary), var(--body-bg) 95%);
	--button-tint: color-mix(in srgb, var(--primary), var(--body-bg) 80%);

	// filled in UI elements
	--filled-fg: white;
	--filled-bg: #990461;

	// text colours
	--primary: #DB5599;
	--secondary: #A747FF;
	--tertiary: #939C28;

	/* colour of links */
	--linking: light-dark(#094EBA, #4890FF);
}

html {
	// order of these determines priority of conditions for light/dark
	color-scheme: dark;
	@media (prefers-color-scheme: light) { color-scheme: light; }
	@media (prefers-color-scheme: dark) { color-scheme: dark; }
	@media print { color-scheme: light; }
	&[data-color-scheme="light"] { color-scheme: light; }
	&[data-color-scheme="dark"] { color-scheme: dark; }
}
