/*
 * Styling affecting the overall site
 */

.p-summary {
	font-style: italic;
}

#site-nav {
	@media print { display: none; }

	background: radial-gradient(80% 90% at top in xyz,
		color-mix(in srgb, var(--filled-bg), transparent 50%) 0%,
		color-mix(in srgb, var(--filled-bg), transparent 80%) 50%,
		transparent 100%,
	);

	border-top: .2rem solid var(--filled-bg);

	padding: 1rem 0 1.5rem;
	margin-bottom: -1rem;

	font-family: var(--hand-font-family);
	font-weight: 700;
	font-size: 1.2em;

	display: flex;
	flex-wrap: wrap-reverse; // reverse is needed to make z-index correct for occluding the stalks
	justify-content: center;
	gap: 1rem 0.5rem;

	[aria-current] .paper {
		background: var(--filled-bg);
		color: var(--filled-fg);
	}

	.paper {
		&::after {
			content: "";

			display: block;
			position: absolute;
			left: 50%;
			bottom: 100%;
			width: 0.15em;
			height: 20rem;

			background-color: var(--stroke);

			transform: rotate(calc(-1 * var(--angle)));
			transform-origin: center 21rem;

			pointer-events: none;
		}
		transform-origin: center 1rem;
	}
}

a.paper:hover {
	--angle: 3deg !important;
}

#site-footer {
	border: none;
	margin: 1rem 0 0;

	height: 12em;
	max-height: 15vw; // enforce at least 10:3 aspect ratio
	background: linear-gradient(var(--button-tint) 00%, var(--primary) 80%);

	mask-image: url("/assets/telegraph.svg");
	mask-repeat: repeat-x;
	mask-position: bottom center;
	mask-size: contain;

	font-size: 80%;

	@media print { display: none; }
}

/*
 * Styling specific to individual posts
 */

blockquote[admonition] {

	/*
	 *   |           __________ |
	 *   |[     ]   |          ||
	 *   |[ img ]<2>|<1>text<1>||
	 *   |[     ]   |__________||
	 *   |<--3-->               |
	 *   |                      |
	 */
	$padding: 1em; // 1. text padding
	$gap: 0em; // 2. space between image and text
	$size: 5em; // 3. image size

	// TODO media query for if page is too narrow?

	// make a gap on the left
	max-width: calc(100% - #{$size + $gap});
	margin: 1rem 0 1rem #{$size + $gap};
	padding: 0 $padding;

	// move it to the right position
	& > img:first-child, & > picture:first-child {
		position: absolute;
		margin-left: #{-$size - $gap - $padding};
	}

	& > img:first-child, & > picture:first-child, & > picture:first-child > img {
		height: $size;
		width: auto;
	}

	// Stops images of really short admonitions from overlapping subsequent
	// paragraphs.
	//
	// I would prefer if this was like margin or sth, but 1. I haven't bothered
	// to see if it's possible, and 2. I feel like there would be issues with
	// margin collapse.
	min-height: $size;

	width: fit-content; // don't fill the width for short texts

	@include card;

	/*&::before {
		$triangle-size: $embedded-margin * 0.75;

		content: "";

		display: block;
		width: 0;
		height: 0;

		position: absolute;
		margin-left: -$padding - $triangle-size * 2;
		margin-top: 1rem;
		border: $triangle-size solid transparent;
		border-right-color: var(--stroke);
	}*/
}

.footnotes {
	@include fence(top);
	margin-top: 1rem;
	padding-top: 1rem;
}

.sparkle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
	font-weight: bold;
	font-style: italic;

	&::before, &::after {
		content: "✨";
		margin: 0 0.5em;
	}

	// flip em
	em {
		font-style: normal;
	}
}
