{% set limit = 13 %}
{%- for outer in range(limit) -%}
	{%- for inner in range(limit) -%}
		*:nth-child({{limit}}n+{{outer}}) > *:nth-child({{limit}}n+{{inner}}) {
			--random: {{ "{:.3g}".format(0.619 * (outer + inner + 3) % 1) }}
		}
	{%- endfor -%}
{%- endfor -%}
