---
title: Blog
layout: default
---

<h1>Posts</h1>

<p>
	You can also follow this blog using
	<a href="https://ralismark.github.io/feed.xml"><i class="fa fa-rss"></i> RSS </a>
	.
</p>

{% for post in site.posts %}
<article class="summary">
	<header>
		<h2 class="summary-title">
			{% if post.path contains "_drafts" %}
			[draft]
			{% endif %}
			<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
		</h2>

		<time class="summary-date" datetime="{{ post.date | date_to_xmlschema }}">
			{{ post.date | date: "%e %b '%y" }}
		</time>
	</header>

	<p class="summary-excerpt">
	{{ post.excerpt | strip_html | truncatewords: 100 }}
	</p>
</article>
{% endfor %}
