<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.props.title %}{{ page.props.title | striptags }} - {% endif %}{{ site.title }}</title>
		<meta name="description" content="{{ page.props.excerpt | default(site.description) }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ recipe.copy("assets/logo-32.png", "/assets/logo-32.png") }}">
		<link rel="canonical" href="{{ site.url }}{{ page.url }}">
		<link type="application/atom+xml" rel="alternate" href="/feed.xml" />

		{% if page.noindex %}<meta name="robots" content="noindex">{% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% do recipe.page("assets/festoon.svg", "/assets/festoon.svg") %}
		<link rel="stylesheet" href="{{
			recipe.sass(
				"css/main.scss",
				"/assets/main.css",
				include="./css",
			)
		}}">
		<link rel="stylesheet" href="{{
			recipe.page("css/random.css.jinja", "/assets/random.css")
		}}">

		{# defer loading of katex? #}
		{% set katex_attrs %}
		href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
		integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
		crossorigin="anonymous"
		{% endset %}
		<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" {{ katex_attrs }}>
		<noscript><link rel="stylesheet" {{ katex_attrs }}></noscript>

		{% if site.shorturl == "ralismark.xyz" %}
		<!-- indieweb -->
		{% set fqdn = site.url | re.sub("https?://", "") %}
		<link rel="webmention" href="https://webmention.io/{{ fqdn }}/webmention" />
		<link rel="pingback" href="https://webmention.io/{{ fqdn }}/xmlrpc" />
		{% endif %}

		<script>
			// do it in head so we don't get flash of wrong style
			(c => c && document.documentElement.setAttribute("data-color-scheme", c))(localStorage.getItem("xyz/color-scheme"));
		</script>
	</head>
	<body>
		{% block body %}
		{{ content }}
		{% endblock %}
	</body>
</html>
