{# vim: set ft=htmldjango: #}

{%- macro post_listing(posts) -%}
	{% for post in posts | reverse %}
		{% set post = recipe.build(post.meta) %}
		{% set post_year = post.props.date.year %}
		{% if loop.changed(post_year) and not loop.first %}
			<div
				class="fence-t"
				style="text-align: right; font-size: 1.2em; color: grey"
				role="separator"
			>
				{{ post_year }}
			</div>
		{% endif %}

		<article class="mb-1 h-entry">
			<header>
				<h2 class="my-0" style="display: inline-block">
					{% if post.draft %}
					[draft: {{ post.props.reason | default("no reason specified") | e }}]
					{% endif %}
					<a class="p-name u-url" href="{{ post.url }}">{{ post.props.title|e }}</a>
				</h2>

				<time class="dt-published" datetime="{{ post.props.date.strftime("%Y-%m-%d") }}">
					{{ post.props.date.strftime("%e %b '%y") }}
				</time>
			</header>

			<p class="my-0 p-summary">
				{{ post.props.excerpt|e }}
			</p>

			{# {% set issue = recipe.posse_github("ralismark", "ralismark.github.io-comments", post.url) %}
			{% if issue %}
			<link class="u-syndication" href="{{ issue }}"/>
			{% endif %} #}
		</article>
	{% endfor %}
{%- endmacro -%}

{%- macro redirect_here(opath) -%}
	{% set content %}
		<!doctype html>
		<html>
			<head>
				<title>Redirecting...</title>
				<meta charset="utf-8">
				<link rel="canonical" href="{{ site.url }}{{ page.url }}">
				<meta http-equiv="content-type" content="text/html; charset=utf-8">
				<meta http-equiv="refresh" content="0;url={{ page.url }}">
				<meta name="robots" content="noindex">
			</head>
			<body>
				<a href="{{ page.url }}">Click here if you are not redirected</a>
			</body>
		</html>
	{% endset %}
	{% do recipe.write(content, opath) %}
{%- endmacro -%}

{%- macro comments() -%}
	{% set location = site.url + page.url %}
	<p>
		Please leave a comment!
		I really like hearing people's thoughts about what I have here.

		You can do so

		<a role="button" target="_blank" href="https://sharetomastodon.github.io/?{{
			{
				"title": "@ralismark@cathode.church",
				"url": location + "\n",
			} | urlencode
		}}">
			via toot 🐘
		</a>

		{# {% set issue = recipe.posse_github("ralismark", "ralismark.github.io-comments", page.url) %}
		{% if issue %}
			or

			<a href="{{ issue }}#new_comment_field" class="u-syndication" role="button">
				via github 🤖
			</a>
		{% endif %} #}

		or

		<a role="button" target="_blank" href="https://quill.p3k.io/?{{
			{
				"dontask": "1",
				"me": "https://commentpara.de/",
				"reply": location,
			} | urlencode
		}}">
			anonymously 📝
		</a>!
	</p>

	<section style="padding: 0 2rem">
		<noscript>Sorry! JavaScript is required to load comments</noscript>
		<script data-url="{{ location }}" src="{{ recipe.copy("assets/webmention.js", "/assets/webmention.js").url }}" async></script>
	</section>
{%- endmacro -%}
