{% assign location = page.url | replace: "index.html", "" | relative_url | prepend: "https://www.ralismark.xyz" %}

<hr/>

<aside class="content-width">
  <h2>Interactions</h2>

  <form action="https://webmention.io/www.ralismark.xyz/webmention" method="post">
    <p>
      Link this page and mention me in a
      <a role="button" href="https://toot.karamoff.dev/?text={{ site.me.fedi.str }} {{ location }}%0A">Toot 🐘</a>
      to leave a comment!

      Have a reply somewhere else? Send it here:
      <input name="source" placeholder="https://example.com/" type="url">
      <input name="target" value="{{ location }}" type="hidden">
      <input value="Submit" type="submit">
    </p>
  </form>

  <section style="padding: 0 2rem">
    <noscript>Sorry! JavaScript is required to load comments</noscript>
    <script data-url="{{ location }}" src="{% link assets/webmention.js %}"></script>
  </section>
</aside>
