{% assign location = page.url | replace: "index.html", "" | relative_url | prepend: "https://www.ralismark.xyz" %}
<hr>
<section>
  <h2>Interactions</h2>

  <form action="https://webmention.io/www.ralismark.xyz/webmention" method="post">
    <p>
      Link this page in a
      <a role="button" href="https://toot.karamoff.dev/?text={{ page.title | uri_escape }} - {{ location }} - @ralismark@fosstodon.org%0A">Toot 🐘</a>
      to leave a comment!

      Have a reply somewhere else? Send it here:
      <input name="source" placeholder="https://example.com/" type="url">
      <input name="target" value="{{ location }}" type="hidden">
      <input value="Submit" type="submit">
    </p>
  </form>

  <section style="padding: 0 2rem">
    <noscript>Sorry! JavaScript is required to load comments</noscript>
    <script data-url="{{ location }}" src="{% link assets/webmention.js %}"></script>
  </section>
</section>
