<header class="site-header" role="banner">
	<div class="wrapper">

		<div class="top-bar">
			<a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

			<span class="site-desc">{{ site.description }}</span>
		</div>

		<nav class="site-nav">
			<ul class="nav-list">
				{% for page in site.pages %}
				{% if page.title %}
				<a class="page-link" href="{{ page.url | relative_url }}">
				<li class="nav-entry">
					{{ page.title | escape }}
				</li>
				</a>
				{% endif %}
				{% endfor %}
			</ul>
		</nav>

	</div>
</header>
