<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta charset="utf-8">
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

<!-- experiment: goat counter -->
<script data-goatcounter="https://ralismark.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<!-- External dependencies -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{% for module in page.modules %}
{% assign enabled = module | last %}
{% if enabled %}
<!-- module {{ module | first }} -->
{% include mod-{{ module | first }}.html %}
{% endif %}
{% endfor %}
