<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta charset="utf-8">
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/logo-32.png">

{% feed_meta %}

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">

<!-- experiment: indieweb -->
<link rel="webmention" href="https://webmention.io/www.ralismark.xyz/webmention" />
<link rel="pingback" href="https://webmention.io/www.ralismark.xyz/xmlrpc" />
