<header id="site-nav" class="full-width flex-centre">
  <span id="nav-left" class="flex-grow">
    <a {% if page.path == "interactives.html" %}class="here"{% endif %} href="{% link interactives.html %}">tools</a>
  </span>
  <span id="nav-mid">
    <a aria-label="index" {% if page.path == "index.md" %}class="here"{% endif %} href="{% link index.md %}">
      <svg viewBox="-200 -200 400 400">
        <title>ralismark.xyz</title>
        <use href="/assets/spiral.svg#root" width="100" height="100" stroke-width="20">
      </svg>
    </a>
  </span>
  <span id="nav-right" class="flex-grow">
    <a {% if page.path == "posts.html" %}class="here"{% endif %} href="{% link posts.html %}">posts</a>
  </span>
</header>
