{% capture void %}<!-- vim: set ft=liquid: -->

	<!--
	 Prepending a space ensures that segments[0] comes before the first tag.
	 Also, this avoid us needing various hacks to handle segments[0], which
	 *may* be an actual tag!.
	-->
{% assign segments = include.html | prepend: " " | split: '<' %}
{% assign out = segments[0] %}
{% assign raw_until = "" %}

{% for segment in segments offset:1 %}
	{% assign tag = segment | strip | replace_first: ">", " " | truncatewords: 1, "" %}

	{% if raw_until != "" %} <!-- we're in a "code block" e.g. script/style, so don't process-->
		{% if raw_until == tag %}
			{% assign raw_until = "" %}
		{% endif %}
	{% elsif tag == "script" or tag == "style" %}
		{% capture raw_until %}/{{ tag }}{% endcapture %}
	{% elsif tag == "img" %} <!-- Add caption from title -->
		{% assign part = segment | split: ">" %}
		{% assign part = part[0] | split: 'title="' %}
		{% assign title = part[1] | split: '"' | first %}
		{% if title and title != "" %}
			<!-- add a caption element before the image -->
			{% capture out %}{{ out }}<{{ segment }}<span class="caption">{{ title }}</span>{% endcapture %}
			{% continue %}
		{% endif %}
	{% elsif tag == "h2" %} <!-- add heading links -->
		<!-- note: we reserve h1 to be page headings (e.g. post title), so don't add links to those -->
		{% assign part = segment | split: ">" %}
		{% assign part = part[0] | split: 'id="' %}
		{% assign id = part[1] | split: '"' | first %}
		{% if id and id != "" %}
			<!-- it seems like we can't "shadow" the definition of segment -->
			{% capture hlink_open %}><a href="#{{ id }}">{% endcapture %}
			{% capture out %}{{ out }}<{{ segment | replace_first: ">", hlink_open }}</a>{% endcapture %}
			{% continue %}
		{% endif %}
	{% endif %}

	<!-- append what we have so far into the output -->
	{% capture out %}{{ out }}<{{ segment }}{% endcapture %}
{% endfor %}
{% endcapture %}{% assign void = "" %}{{ out }}
