{% assign config = site.data.trees.config %}

<div id="forest">

<div class="description" project-name="">
	<p>
		Each tree represents a project.
	</p>
	<p>
		Click on a tree to see details.
	</p>
</div>

{% assign projects_sorted = site.data.trees.projects | sort: "y" %}
{% for project in projects_sorted %}

<div class="project">

<div class="group" style="--x:{{ project.x }};--y:{{ project.y }}">
	<div class="tree-label">{{ project.name }}</div>
	<svg class="tree" viewBox="-5 -5 110 145">
		<line x1="50" y1="50" x2="50" y2="140"
			stroke="black" stroke-width="2"
			/>
		<a fill="{{ config.colors[project.status] }}"
			stroke-width="2px" stroke="#fff"
			xlink:href="##"
		>
			<circle cx="50" cy="50" r="50" />
		</a>
	</svg>
</div>

<div class="description">
	<h3>
		{% if project.link %}
			<a href="{{ project.link }}">{{ project.name }}</a>
		{% else %}
			{{ project.name }}
		{% endif %}
	</h3>
	<p>
		status: <span class="status">{{ project.status }}</span>
	</p>
	<p>
	{{ project.description | markdownify }}
	</p>
</div>

</div>

{% endfor %}

</div>

<link rel="stylesheet" href="/assets/trees.css">
