/*
 * Styling affecting the overall site
 */

html {
	background: darken($back-base, 5%);
}

body {
	width: 900px;
	margin: 16px auto;
	padding: 32px;

	font-family: $alt-font-stack;
	background: $back-base;
	color: $text-base;

	h1, h2, h3, h4, h5, h6 {
		// to override .page-content
		font-family: $alt-font-stack;
	}
}

.page-content {
	font-family: $font-stack;
}

.site-header {
	.site-title {
		text-decoration: none;
		color: $text-base;
		font-family: $alt-font-stack;
		font-weight: bold;
		font-size: 1.5em;
	}

	.site-desc {
		font-style: italic;
		float: right;
	}

	.banner {
		margin: 16px 0;
		padding: 4px 0;
		background: black;
		overflow: hidden;
	}

	.site-nav {
		ul {
			margin: 4px;
			padding: 0 8px;
		}

		li {
			padding: 8px;
			display: inline;
			list-style-type: none;

			&:hover {
				background: #333;
			}
		}

		a {
			color: #aaa;
			text-decoration: none;
		}
	}
}
