/*
 * Styling affecting the overall site
 */

html {
	background: darken($back-base, 5%);
}

body {
	width: 800px;
	margin: 16px auto;
	padding: 16px;

	font-family: $font-stack;
	background: $back-base;

	h1, h2, h3, h4, h5, h6 {
		font-family: $alt-font-stack;
	}
}
