/*
 * Styling specific to posts
 */

#post-tags a {
	font-size: 80%;
	padding: 0 1ex 0.4ex;
	margin: 0 0.2ex;
	background: orange;
	color: #fff;
	border-radius: 1em;
}

#content {
	blockquote {
		padding-left: 1em;
		border-left: 4px solid lightgrey;
	}

	.footnotes {
		padding-top: 1em;
		border-top: 1px solid rgba(0, 0, 0, .1);
	}

	img, svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
