/*
 * Styling affecting the overall site
 */

#site-nav {
	background: $header-bg;
	font-size: 1.3em;
	padding: .3rem 0;

	#navbar-root {
		display: inline-block;

		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			width: 1.6em;
			margin-right: 0.2em;
			vertical-align: bottom;
			background: center/100% no-repeat url('/assets/spiral.svg');
		}
	}
}

#site-footer {
	@include fenced(top);
	margin: 2rem auto 1rem;
	padding: 2rem var(--bleed-size);
	box-sizing: content-box;
	font-size: 80%;
}

main {
	margin-top: 2rem;
}

/*
 * Styling specific to individual posts
 */

blockquote {
	@include card;
	@include bleed;

	padding: 0.5rem var(--bleed-size); // <p> has 1rem margin
	background: transparentize($accent, 0.9);
}

.footnotes {
	@include fenced(top);
	margin-top: 1rem;
	padding-top: 1rem;
}

.caption {
	display: block;
	text-align: center;
	font-style: italic;
}

.badge {
	@include text-inverted;

	font-size: 80%;
	padding: .3ex 1ex;
	margin: 0 0.2ex;
	background: darkorange;
	border-radius: 1em;
}

// Blog post body only
article {
	p, ul, ol {
		text-align: justify;
	}
}
