/*
 * Styling affecting the overall site
 */

#site-nav {
	width: 100%;
	background: $header-bg;

	& > nav {
		width: var(--content-width);
		margin: 0 auto;
		padding: 4px 0;
		display: flex;
		justify-content: space-between;
	}

	a {
		color: white;
		text-decoration: none;
		font-size: 1.2em;

		&:hover {
			color: #ddd;
		}
	}

	#navbar-root {
		&::before {
			content: '';
			display: inline-block;
			height: 1.2em;
			width: 1.6em;
			margin-right: 0.2em;
			vertical-align: text-bottom;
			background: center/100% url('/assets/logo.png');
		}
	}
}

body > main {
	width: var(--content-width);
	margin: 32px auto;
}

#site-footer {
	background: $footer-bg;
	width: 100%;
	padding: 2rem 0;

	#site-footer-inner {
		width: var(--content-width);
		margin: 0 auto;
	}

	#back-to-top {
		float: right;
	}
}

