/*
 * Colour scheme & other variable declarations
 */

// based on <https://github.com/system-fonts/modern-font-stacks#old-style>
$font: 300 1em / 1.9 Merriweather, 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
$mono-font: normal 1em / 1.5 Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

$accent: #DB5599;
$accent-bg: #990461;
$secondary: #9C56DB;
$tertiary: #6480ED;
$hr-fg: rgba(127, 127, 127, 0.2);
