/*
 * Colour scheme & other variable declarations
 */

$font: 300 1em / 1.9 "Merriweather", serif;
$mono-font: normal 1em / 1.9 Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

$accent: #DB5599;
$accent-bg: #990461;
$secondary: #9C56DB;
$tertiary: #6480ED;
$hr-fg: rgba(127, 127, 127, 0.2);
