/*
 * Styling affecting the overall site
 */

@mixin light {
	html.light & { @content }
	@media (prefers-color-scheme: light) { @content }
	@media print { @content }
}

body {
	--body-bg: #191a1a;
	--body-fg: #e7e6e5;

	@include light {
		--body-bg: initial;
		--body-fg: initial;
	}

	color: var(--body-fg);
	background: var(--body-bg);
}

#site-nav {
	$height: 3rem;
	$pad: .5rem;

	& > span {
		height: $height + 2 * $pad;
	}

	svg {
		height: $height;
	}

	#nav-left {
		text-align: right;
	}

	#nav-right {
		text-align: left;
	}

	a {
		display: inline-block;
		line-height: $height;
		padding: $pad;
	}

	#nav-left a, #nav-right a {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	// styling

	// from https://css-tricks.com/easing-linear-gradients/
	$base-opacity: 0.4;
	background: radial-gradient(100% 100% at top,
		fade-out($accent-bg, $base-opacity) 0%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.262) 19%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.459) 34%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.618) 47%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.722) 56.5%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.806) 65%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.874) 73%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.925) 80.2%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.958) 86.1%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.979) 91%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.992) 95.2%,
		fade-out($accent-bg, $base-opacity + (1 - $base-opacity) * 0.998) 98.2%,
		fade-out($accent-bg, 1) 100%
	);

	border-top: .4rem solid $accent-bg;
	font-size: 1.5em;

	a {
		color: $tertiary;
		text-decoration: none;
	}

	a.here, a:hover {
		background: $accent-bg;
		color: white;
	}

	@media print { display: none; }
}

#site-footer {
	padding: 2rem var(--bleed-size);
	box-sizing: content-box;
	font-size: 80%;

	@media print { display: none; }
}

main {
	margin-top: 2rem;
}

/*
 * Styling specific to individual posts
 */


blockquote[admonition] {
	$padding: 1rem;
	$gap: 1rem;
	$embedded-margin: 1rem; // amount of margin included in the image itself
	$size: 6rem; // image size

	&::before {
		$triangle-size: $embedded-margin * 0.75;

		// content: ""; // uncomment this to enable the triangle

		display: block;
		width: 0;
		height: 0;

		position: absolute;
		margin-left: -$padding - $triangle-size * 2;
		margin-top: 1rem;
		border: $triangle-size solid transparent;
		border-right-color: $hr-fg;
	}

	& > img:first-child, & > picture:first-child {
		position: absolute;
		margin: (-$embedded-margin) 0 (-$embedded-margin) #{-$size - $padding + $embedded-margin - $gap};
		height: $size;
	}

	& > picture:first-child > img {
		// reset stuff, a bit unclean :(
		// TODO fix the .bounded img rule
		height: inherit;
		width: auto;
	}

	margin: 1rem var(--inset-margin) 1rem calc(#{$size - 2 * $embedded-margin + $gap} + var(--inset-margin));
	padding: 0 $padding;
	min-height: ($size - 2 * $embedded-margin);

	width: fit-content;

	background: fade-out($accent, 0.95);
	border: 1px solid $hr-fg;
	border-radius: 0.2rem;
}

.footnotes {
	@include fence(top);
	margin-top: 1rem;
	padding-top: 1rem;
}

figcaption {
	text-align: center;
	font-style: italic;
}

.badge {
	// to override anchor styling
	color: white !important;
	&:hover { color: #aaa !important; }
	text-decoration: none !important;

	font-size: 80%;
	padding: .3ex 1ex;
	margin: 0 0.2ex;
	background: $accent-bg;
	border-radius: 1em;
}

/*
 * Stylised links, inspired by gwern
 */
@mixin atag {
	font-size: smaller;
	vertical-align: super;
	font-style: italic;

	color: var(--body-fg);
	opacity: 0.6;
}

article:not(.disable-link-markers) *:not(h1):not(h2) > a {
	&[href^="/posts/"] {
		&::after {
			content: "";
			display: inline-block;
			vertical-align: text-top;

			$tip-size: 3pt;
			border-top: $tip-size solid fade-out($accent, 0.5);
			border-right: $tip-size solid fade-out($accent, 0.5);
			border-bottom: $tip-size solid transparent;
			border-left: $tip-size solid transparent;
			margin-left: -1 * $tip-size;
		}
	}

	&[href^="/"]:not([href^="//"]):not([href^="/posts/"]) {
		&::after {
			content: "";
			display: inline-block;
			vertical-align: text-top;

			width: 0.4em;
			height: 0.5em;
			margin-left: -0.2em;
			border-top: 1pt solid fade-out($accent, 0.5);
			border-right: 1pt solid fade-out($accent, 0.5);
		}

		&:hover::after {
			border-top: 1pt solid fade-out(darken($accent, 15%), 0.5);
			border-right: 1pt solid fade-out(darken($accent, 15%), 0.5);
		}
	}

	&[href^="https://github.com/"]::after {
		@include atag;
		content: "gh";
	}

	&[href^="https://en.wikipedia.org/"]::after {
		@include atag;
		content: "W";
	}

	&[href^="https://stackoverflow.com/"]::after,
	&[href^="https://superuser.com/"]::after
	{
		@include atag;
		content: "SO";
	}

	&[href^="https://en.cppreference.com/"]::after,
	{
		@include atag;
		content: "c++";
	}
}
