// inspired by https://meyerweb.com/eric/tools/css/reset/

// css "reset"
html, body, div {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 0 0 1rem;
}

pre {
	margin-top: 0;
	margin-bottom: 0;
}

p, div.highlighter-rouge {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	border: none;
	border-top: 1px solid $hr-fg;
}

* {
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	line-height: 1.5;

	// a better colour for links
	a {
		color: $link-fg;

		&:hover {
			color: $link-fg-hover;
		}

		&:not(:hover) {
			text-decoration: none;
		}
	}
}

// make KaTeX the right size
.katex {
	font-size: 1.1em !important;
}
.highlighter-rouge {
	font-size: 1em;
}

// globally useful
ul.ul-flat {
	padding: 0;
	margin: 0;

	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	li {
		margin: 0 8px;
		display: block;
	}
}
