{% extends "./empty.html" %}

{% block body %}
<header id="site-nav">
	{% for name, url in [
		("index", "/"),
		("posts", "/posts"),
		("toys", "/interactives"),
		("about", "/about"),
	] %}
		<a
			class="paper"
			{% if page.url == url %}aria-current="page"{% endif %}
			href="{{ url }}"
			{# TODO change this to use --random? #}
			style="--angle: {{ (loop.index + 2) * 2 % 5 - 2 }}deg"
		>
			{{ name }}
		</a>
	{% endfor %}

	<div
		class="paper"
		style="
			padding: 0;
			--angle: -1deg
		"
	>
		<select
			id="color-scheme-select"
			style="
			border: none;
			box-shadow: none;
			background: none;
			margin: 0;
			height: 100%;
			"
			onchange="
				document.documentElement.setAttribute('data-color-scheme',this.value);
				localStorage.setItem('xyz/color-scheme',this.value);
			"
		>
			<option value="">☀🌙</option>
			<option value="dark">🌙</option>
			<option value="light">☀</option>
		</select>
		<script>
			document.getElementById("color-scheme-select").value = localStorage.getItem("xyz/color-scheme") || "";
		</script>
	</div>
</header>

{# content ----------------------------------------------------------------- #}

{% block content %}
<article>
	{{ content }}
</article>
{% endblock content %}

<hr>

<footer id="site-footer" style="text-align: center" class="content-width">
	<p>
		Copyright &copy; Temmie Yao {{ dt.datetime.now().year }}
		<br>
		This site grown with 💜 on <a href="https://github.com/ralismark/ralismark.github.io">Github</a>!
	</p>

	<iframe
		style="
			width: 35em;
			max-width: 100%;
			display: block;
			margin: 0 auto;
			height: 6rem;
			border: none;
		"
		src="https://ralismark.xyz/the-fruit-loop/embed/ralismark"
	></iframe>
</div>

{% endblock body %}
