{# vim: set ft=htmldjango: #}

{%- macro post_listing(posts) -%}
	{% for post in posts | reverse %}
		{% set post = recipe.build(post.meta) %}
		{% set post_year = post.props.date.year %}
		{% if loop.changed(post_year) and not loop.first %}
			<div
				class="fence-t"
				style="text-align: right; font-size: 1.2em; color: grey"
				role="separator"
			>
				{{ post_year }}
			</div>
		{% endif %}

		<article class="mb-1">
			<header>
				<h2 class="my-0" style="display: inline-block">
					{% if post.draft %}
					[draft: {{ post.props.reason | default("no reason specified") | e }}]
					{% endif %}
					<a href="{{ post.url }}">{{ post.props.title|e }}</a>
				</h2>

				<time datetime="{{ post.props.date.strftime("%Y-%m-%d") }}">
					{{ post.props.date.strftime("%e %b '%y") }}
				</time>
			</header>

			<p class="my-0">
				{{ post.props.excerpt|e }}
			</p>
		</article>
	{% endfor %}
{%- endmacro -%}

{%- macro redirect_here(opath) -%}
	{% filter recipe.write(opath) %}
		<!doctype html>
		<html>
			<head>
				<title>Redirecting...</title>
				<meta charset="utf-8">
				<link rel="canonical" href="{{ site.url }}{{ page.url }}">
				<meta http-equiv="content-type" content="text/html; charset=utf-8">
				<meta http-equiv="refresh" content="0;url={{ page.url }}">
				<meta name="robots" content="noindex">
			</head>
			<body>
				<a href="{{ page.url }}">Click here if you are not redirected</a>
			</body>
		</html>
	{% endfilter %}
{%- endmacro -%}
