{% extends "./default.html" %}

{% block content %}
<article class="h-entry">

{% set post_nav %}
	<nav class="my-1 content-width">
		{% if prev() %}
			{% set prev = recipe.build(prev().meta) %}
			<a style="float: left; text-align: left" href="{{ prev }}">&laquo; {{ prev.props.title | e }}</a>
		{% endif %}

		{% if next() %}
			{% set next = recipe.build(next().meta) %}
			<a style="float: right; text-align: right" href="{{ next }}">{{ next.props.title | e }} &raquo;</a>
		{% endif %}

		<div role="none" style="clear: both"></div>
	</nav>
{% endset %}

	{{ post_nav }}

	<header class="content-width" style="text-align: center">
		<h1 class="p-name">{{ page.props.title | escape }}</h1>
		<p class="p-summary">
			{{ page.props.excerpt | escape }}
		</p>

		<ul class="li-flat">
			<li>
				<a class="u-url" href="{{ page.url }}">
					<time datetime="{{ page.props.date.strftime("%Y-%m-%d") }}" class="dt-published">
						{{ page.props.date.strftime("%-d %b %Y") }}
					</time>
				</a>
			</li>

			<li>
				{% set wc = content | striptags | wordcount %}
				{% set readtime = [(wc + 100) // 200, 1] | max %}
				<abbr title="{{ wc }} total words">{{ readtime }} min{% if readtime != 1 %}s{% endif %} to read</abbr>
			</li>

			{% set tags = parse_tags(page.props) %}
			{% if tags %}
			<li>
				<span id="post-tag-label">Tags:</span>
				{% for tag in tags %}
					<a class="p-category paper" href="/tags#{{ tag }}">{{ tag }}</a>
				{% endfor %}
			</li>
			{% endif %}
		</ul>

	</header>

	{% if page.props.series %}
	<aside class="content-width">
		<details>
			<summary>
				This post is part of the <em class="paper">{{ page.props.series }}</em> series!
			</summary>

			<ol>
				{% for post in posts() %}
					{% set post = recipe.build(post) %}
					{% if post.props.series == page.props.series %}
						<li>
							<a href="{{ post }}">{{ post.props.title | e }}</a>
							{% if post.url == page.url %}<strong>&larr; You are here!</strong>{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ol>
		</details>
	</aside>
	{% endif %}

	<hr class="lit">

	{% block post_content %}
	<main class="e-content content-width">
		{{ content }}
	</main>
	{% endblock post_content %}

	{{ post_nav }}

	<hr>

	{% set location = site.url + page.url %}
	<aside class="content-width">
		<h2>Interactions</h2>

		{% import "./macros.html" as macros with context %}
		{{ macros.comments() }}
	</aside>

</article>
{% endblock content %}
