{% extends "./default.html" %}

{% block content %}

<article class="h-entry">

<header class="content-width" style="text-align: center">
	{% if page.props.title %}
		<h1 class="p-name">{{ page.props.title }}</h1>
	{% endif %}

	{% if page.props.excerpt %}
		<p class="p-summary">
			{{ page.props.excerpt | escape }}
		</p>
	{% endif %}
</header>

{% block post_content %}
<main class="e-content content-width">
	{{ content }}
</main>
{% endblock post_content %}

</article>

{% endblock content %}
