/*
 * Colour scheme & other variable declarations
 */

:root { // for non-sass use
	// based on <https://github.com/system-fonts/modern-font-stacks>
	--main-font-family: Merriweather, "Iowan Old Style", "Palatino Linotype", "URW Palladio L", "P052", serif;
	--main-font: 300 1em / 1.9 var(--main-font-family);
	--mono-font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
	--mono-font: normal 1em / 1.5 var(--mono-font-family);
	--hand-font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;

	// light/dark mode; use --body-{fg,bg} for correctly coloured version
	--body-fg-light: black;
	--body-bg-light: white;
	--body-fg-dark: #e7e6e5;
	--body-bg-dark: #191a1a;

	// ui lines
	--stroke: rgba(127.5, 127.5, 127.5, 0.4);
	
	// TODO switch these over to use color-mix at some point

	// background of boxes/etc
	--box-tint: color-mix(in srgb, var(--primary), var(--body-bg) 95%);
	--button-tint: color-mix(in srgb, var(--primary), var(--body-bg) 80%);

	// filled in UI elements
	--filled-fg: white;
	--filled-bg: #990461;

	// text colours
	--primary: #DB5599;
	--secondary: #A747FF;
	--tertiary: #939C28;

	// colour of links
	--linking-light: #094EBA;
	--linking-dark: #4890FF;
}

@mixin light {
	--body-bg: var(--body-bg-light);
	--body-fg: var(--body-fg-light);
	--linking: var(--linking-light);
	color-scheme: light;
}
@mixin dark {
	--body-bg: var(--body-bg-dark);
	--body-fg: var(--body-fg-dark);
	--linking: var(--linking-dark);
	color-scheme: dark;
}

html {
	// order of these determines priority of conditions for light/dark
	// TODO is this too opinionated? we default to dark mode
	@include dark;
	@media (prefers-color-scheme: light) { @include light; }
	@media (prefers-color-scheme: dark) { @include dark; }
	@media print { @include light; }
	&[data-color-scheme="light"] { @include light; }
	&[data-color-scheme="dark"] { @include dark; }
}

