{% capture admonition_config %}
fortune:
  image: "assets/fortune.png"
  text: "fortune is fortuning"

ask:
  image: "assets/tem-chill.png"
  text: "tem is asking"
say:
  image: "assets/tem-chill.png"
  text: "tem is saying"

aside:
  image: "assets/tem-chill.png"
  text: "tem is thinking"
warn:
  image: "assets/tem-chill.png"
  text: "tem is warning"

default:
  image: "assets/tem-chill.png"
  text: "tem is here"
{% endcapture %}{% assign admonition_config = admonition_config | yaml_parse -%}
{% assign admonition_verb = include.verb | default: "default" -%}
{% assign admonition_config = admonition_config[admonition_verb] -%}
{: admonition="{{ admonition_verb }}" }
> ![{{ admonition_config.text }}]({% link {{ admonition_config.image }} %} "{{ admonition_config.text }}")
>
{%- comment -%}This is to avoid the trailing newline{%- endcomment -%}
