main[role=main] {
	max-width: 800px !important;
}

#title {
	text-align: center;
}

#calendar-container {
	margin-top: 8px;
}

#calendar-heading > .col {
	text-align: center;
	padding: 0;
	font-weight: bold;
	max-width: 20%;
}

#calendar {
	position: relative;
	overflow: hidden;
}

.day {
	min-height: 500px;
}

#now {
	position: absolute;
	height: 2px;
	width: 20%;
	background: red;

	z-index: 5;
}

.event {
	position: absolute;
	box-sizing: border-box;
	width: 20%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background: var(--color);
	color: white;

	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.2);

	z-index: 1;
}

.event .summary {
	text-align: center;
	font-size: 80%;
	line-height: 1.2;
}

.event .class {
	font-weight: 500;
}

#spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(255, 255, 255, 0.5);

	z-index: 10;
}

body:not(.loading) #spinner-container {
	display: none;
}
