---
layout: plain-wide
title: 5e Character Sheet
---

{% capture content %}
|Name|Race|Class|Bg|Align|Speed|
|-|
|Elenari (short: El/Elen) Koselu|Eladrin Elf|Warlock {{ lvl }}|Sage|CN|30 ft|
{% endcapture %}{{ content | markdownify }}

{% assign lvl = 4 %}
{% capture spell_level %}
  {%- if lvl <= 10 -%}{{ lvl | plus: 1 | divided_by: 2 | floor }}
  {%- else -%}5
  {%- endif -%}
{% endcapture %}

{% capture content %}
{: .mx-0 }
|Lvl|Name|Cast|Range|Duration|Description|
|-|
|0|Eldrich Blast|1 action VS|120 ft|instant|Ranged spell attack, 1d10+3 force on hit|
|0|Magic Hand|1 action VS|30 ft|1 min|Spectral hand whooo|
|0|[Prestidigitation](http://dnd5e.wikidot.com/spell:prestidigitation)|1 action VS|10 ft|1 hr|Misc effects.
|1|Sleep|1 action VSM|90 ft|instant|Roll {{ spell_level | times: 2 | plus: 3 }}d8. 20ft radius, in increasing hp|
|1|Hex|1 bonus VSM|90 ft|1 hr (conc)|hit &rarr; +1d6 damage. Disadvantage on one ability. <br>Bonus action to curse new creature if target dies|
|1|Charm Person|1 action VS|30 ft|1 hr|Wis save (advantage if fighting) &rarr; Charmed.<br>{{ spell_level }} targets.|
|2|Flock of Familiars|1 min VS|Touch|1 hr|Create 3 [familiars](https://www.gmbinder.com/share/-LSGd7ACEznArBZIcdgC).<br><abbr title="blinded + deafened">Shared senses</abbr>, telepathy, cast touch spells.|
|2|Invisibility|1 action VSM|Touch|1 hr (conc)|Invisible. Ends on attack or cast.|
||Dagger|1d4||piercing|finesse, light, thrown (20/60)|
||Spear|1d6||piercing|thrown (20/60), versatile (1d8)|
{: .card }
{% endcapture %}{% assign spell_table = content | markdownify %}

{% capture content %}
|From|Name|When|What|
|-|
|Eladrin|Fey Step|Bonus<br>1/short|Magically teleport 30ft into an unoccupied space<br>Autumn: charm, wis save vs 8+prof+cha<br>Winter: frighten, wis save vs 8+prof+cha<br>Spring: touch willing, they teleport<br>Summer: cha fire damage|
|Warlock|Fey Prescence|Action<br>1/short|10ft cube, wis vs spell save, charm or frighten until next turn|
|Warlock|Pact of Talisman|2 per long rest|+1d4 to any failed ability check|
|Invocation|Agonizing Blast||Add cha mod to eldrich blast damage|
|Invocation|Grasp of Hadar||On eldrich blast hit, move 10ft closer|
|Elf|Darkvision||30 ft darkvision|
|Elf|Fey Ancestry||Advantage on saving throws vs charm<br>Can't be magically put to sleep|
|Elf|Trance||4hr trance instead of sleeping|
|Eladrin|Seasons|After long rest|Change own seasons|
|Feat|Observant||Can lip-read|
|Sage|Researcher||Know where/from whom to get any information|
{% endcapture %}{% assign ability_table = content | markdownify %}

{% assign gp = 10 %}
{% capture content %}
- 2x spear
- arcane focus
- leather armour
- 2x dagger
- bottle of ink
- quill
- small knife
- common clothes
- "letter from a dead colleague posing a question you have not yet been able to answer"
- backpack
- crowbar
- hammer
- 10x pitons
- 10x torches
- tinderbox
- 10x rations
- waterskin
- 50ft hemp rope
{% endcapture %}{% assign equipment = content | yaml_parse %}

{% capture content %}
str: 11
dex: 14
con: 14
int: 12
wis: 9 # +1 from observant feat
cha: 16
{% endcapture %}{% assign stat = content | yaml_parse %}

<!-- derived numbers -->

{% assign proficiency = lvl | minus: 1 | divided_by: 4 | floor | plus: 2 %}

{% capture content %}
  {% for field in stat %}
    {{ field[0] }}: {{ field[1] | minus: 10 | divided_by: 2 | floor }}
  {% endfor %}
{% endcapture %}{% assign mod = content | yaml_parse %}

{% assign hp_cap = mod.con | plus: 5 | times: lvl | plus: 3 %}
{% capture spell_slots_cap %}
  {%- if lvl <= 1 -%}1
  {%- elsif lvl <= 10 -%}2
  {%- elsif lvl <= 16 -%}3
  {%- else -%}4
  {%- endif -%}
{% endcapture %}
{% capture cantrips_known %}
  {%- if lvl <= 3 -%}2
  {%- elsif lvl <= 9 -%}3
  {%- else -%}4
  {%- endif -%}
{% endcapture %}
{% capture spells_known %}
  {%- if lvl <= 9 -%}{{ lvl | plus: 1 }}
  {%- else -%}{{ lvl | plus: 11 | divided_by: 2 }}
  {%- endif -%}
{% endcapture %}
{% assign spell_save_dc = 8 | plus: proficiency | plus: mod.cha %}
{% assign spell_atk_mod = proficiency | plus: mod.cha %}

{% capture content %}
{: .mx-0 }
|**Level**|{{ lvl }}|
|**Hp Cap**|{{ hp_cap }}|
|**Hit Dice**|{{ lvl }}d8|
|**Spell Slots**|{{ spell_slots_cap }}&times;L{{ spell_level }}|
|**Initiative**|1d20 + {{ mod.dex }}|
|**AC**|{{ mod.dex | plus: 11 }} (leather)|
|**Plain Atk**|+{{ mod.str | plus: proficiency }}|
|**Spell Save**|{{ spell_save_dc }}|
|**Spell Atk**|+{{ spell_atk_mod }}|
{: .card }
{% endcapture %}{% assign val_table = content | markdownify %}

{% capture content %}
{: .mx-0 }
|Stat|Val|Mod|Skills|
|-|-|-|:-|
|str|{{ stat["str"] }}|{{ mod["str"] }}|Athletics|
|dex|{{ stat["dex"] }}|{{ mod["dex"] }}|Acrobatics<br>Sleight of Hand<br>Stealth|
|con|{{ stat["con"] }}|{{ mod["con"] }}||
|int|{{ stat["int"] }}|{{ mod["int"] }}|Arcana +{{proficiency}}<!--sage--><br>History<br>Investigation +{{proficiency}}<!--warlock--> (+5 pas)<!--observant--><br>Nature<br>Religion|
|wis<br>save +{{proficiency}}|{{ stat["wis"] }}|{{ mod["wis"] }}|Animal Handling<br>Insight<br>Medicine<br>Perception +{{proficiency}}<!--elf--> (+5 pas<!--observant-->)<br>Survival|
|cha<br>save +{{proficiency}}|{{ stat["cha"] }}|{{ mod["cha"] }}|Deception +{{ proficiency }}<!--warlock--><br>Intimidation<br>Performance<br>Persuation|
{: .card }
{% endcapture %}{% assign stat_table = content | markdownify %}

<div class="flex-centre fence-y">
{{ stat_table }}
{{ val_table }}
{{ spell_table }}
</div>

{% capture content %}
# Traits & Abilities

<div class="bleed">
{{ ability_table }}
</div>

# Equipment

gp: {{ gp }}

{: .li-flat }
{% for entry in equipment -%}
- {{entry}}
{% endfor %}

# Proficiencies

- Langs:
  <!--elf--> Common, ~~Quenya~~ Elvish,
  <!--sage--> Sylvan, Undercommon
- Armour: Light armour
- Weapons:
  <!--warlock--> Simple weapons
- Tools: None

|**Known Cantrips**|{{ cantrips_known }}|
|**Known Spells**|{{ spells_known }}|

{% endcapture %}<div class="content-width">{{ content | markdownify }}</div>
