---
layout: plain-wide
title: 5e Character Sheet
---

{% capture content %}
|Name|Race|Class|Bg|Align|Speed|
|-|
|Sylvie|Eladrin Elf|Warlock (Celestial) {{ lvl }}|Custom|LG|30 ft|
{% endcapture %}{{ content | markdownify }}

{% assign lvl = 5 %}
{% capture spell_level %}
  {%- if lvl <= 10 -%}{{ lvl | plus: 1 | divided_by: 2 | floor }}
  {%- else -%}5
  {%- endif -%}
{% endcapture %}

{% assign gp = 69 %}
{% capture content %}
- 50ft hempen rope
- healer's kit
- arcane focus
- backpack
- a book of lore
- a bottle of ink
- an ink pen
- 10 sheets of parchment
- little bag of sand
- small knife
- (sold leather armour)
- studded leather armour
- two spear
- two dagger
{% endcapture %}{% assign equipment = content | yaml_parse %}

{% capture content %}
str: 10
dex: 14
con: 12
int: 14
wis: 13
cha: 14
{% endcapture %}{% assign stat = content | yaml_parse %}

<!-- derived numbers -->

{% assign proficiency = lvl | minus: 1 | divided_by: 4 | floor | plus: 2 %}

{% capture content %}
  {% for field in stat %}
    {{ field[0] }}: {{ field[1] | minus: 10 | divided_by: 2 | floor }}
  {% endfor %}
{% endcapture %}{% assign mod = content | yaml_parse %}

{% assign hp_cap = mod.con | plus: 5 | times: lvl | plus: 3 %}
{% capture spell_slots_cap %}
  {%- if lvl <= 1 -%}1
  {%- elsif lvl <= 10 -%}2
  {%- elsif lvl <= 16 -%}3
  {%- else -%}4
  {%- endif -%}
{% endcapture %}
{% capture cantrips_known %}
  {%- if lvl <= 3 -%}2
  {%- elsif lvl <= 9 -%}3
  {%- else -%}4
  {%- endif -%}
{% endcapture %}
{% capture spells_known %}
  {%- if lvl <= 9 -%}{{ lvl | plus: 1 }}
  {%- else -%}{{ lvl | plus: 11 | divided_by: 2 }}
  {%- endif -%}
{% endcapture %}
{% assign spell_save_dc = 8 | plus: proficiency | plus: mod.cha %}
{% assign spell_atk_mod = proficiency | plus: mod.cha %}

{% capture content %}
{: .mx-0 }
|**Level**|{{ lvl }}|
|**Hp Cap**|{{ hp_cap }}|
|**Hit Dice**|{{ lvl }}d8|
|**Spell Slots**|{{ spell_slots_cap }}&times;L{{ spell_level }}|
|**Initiative**|1d20 + {{ mod.dex }}|
|**AC**|{{ mod.dex | plus: 12 }}|
|**Plain Atk**|+{{ mod.str | plus: proficiency }}|
|**Spell Save**|{{ spell_save_dc }}|
|**Spell Atk**|+{{ spell_atk_mod }}|
{: .card }
{% endcapture %}{% assign val_table = content | markdownify %}

{% capture content %}
{: .mx-0 }
|Stat|Val|Mod|Skills|
|-|-|-|:-|
|str|{{ stat["str"] }}|{{ mod["str"] }}|Athletics|
|dex|{{ stat["dex"] }}|{{ mod["dex"] }}|Acrobatics<br>Sleight of Hand<br>Stealth|
|con|{{ stat["con"] }}|{{ mod["con"] }}||
|int|{{ stat["int"] }}|{{ mod["int"] }}|Arcana +{{proficiency}}<!--sage--><br>History<br>Investigation +{{proficiency}}<!--warlock--><br>Nature +{{ proficiency }}<!--warlock--><br>Religion +{{proficiency}}<!--custom bg-->|
|wis<br>save +{{proficiency}}|{{ stat["wis"] }}|{{ mod["wis"] }}|Animal Handling<br>Insight<br>Medicine +{{proficiency}}<!--custom bg--><br>Perception +{{proficiency}}<!--elf--><br>Survival|
|cha<br>save +{{proficiency}}|{{ stat["cha"] }}|{{ mod["cha"] }}|Deception<br>Intimidation<br>Performance<br>Persuation|
{: .card }
{% endcapture %}{% assign stat_table = content | markdownify %}

{% capture content %}
{: .mx-0 }
|Lvl|Name|Cast|Range|Duration|Description|
|-|
|0|[Light](http://dnd5e.wikidot.com/spell:light)|1 action VM|Touch|1 hr|Object sheds light|
|0|[Sacred Flame](http://dnd5e.wikidot.com/spell:sacred-flame)|1 action VS|60 ft|Instant|2d8 radiant damage vs dex save|
|0|[Eldrich Blast](http://dnd5e.wikidot.com/spell:eldritch-blast)|1 action VS|120 ft|Instant|2xSpell atk, 1d10+{{mod.cha}} force|
|0|[Mage Hand](http://dnd5e.wikidot.com/spell:mage-hand)|1 action VS|30 ft|1 min|Magic hand whoo|
|0|[Prestidigitation](http://dnd5e.wikidot.com/spell:prestidigitation)|1 action VS|10 ft|1 hr|Misc effects.|
|1|[Hex](http://dnd5e.wikidot.com/spell:hex)|1 bonus VSM|90 ft|8 hr (conc)|Hit &rarr; +1d6 damage. Disadvantage on one ability. <br>Bonus action to curse new creature if target dies|
|1|[Burning Hands](http://dnd5e.wikidot.com/spell:burning-hands)|1 action VS|15 ft cone|Instant|{{ spell_level | plus: 2 }}d6 fire vs dex save (halving)|
|1|[Charm Person](http://dnd5e.wikidot.com/spell:charm-person)|1 action VS|30 ft|1 hr|charm vs wis save (advantage if fighting)<br>{{ spell_level }} targets.|
|1|[Comprehend Languages](http://dnd5e.wikidot.com/spell:comprehend-languages)|10 mins (ritual) VSM|self|1 hr|literal translations|
|1|[Detect Magic](http://dnd5e.wikidot.com/spell:detect-magic)|10 mins (ritual) VS|self|10 mins (conc)|30 ft sense magic & school|
|2|[Misty Step](http://dnd5e.wikidot.com/spell:misty-step)|1 bonus V|Self|Instant|30ft teleport|
|2|[Suggestion](http://dnd5e.wikidot.com/spell:suggestion)|1 action VM|30 ft|8 hrs (conc)|Suggest course of activity, vs wis save<br>Attacking them stops spell|
|3|[Dispel Magic](http://dnd5e.wikidot.com/spell:dispel-magic)|1 action VS|120 ft|Instant|End spell if lvl &le; {{spell_level}}, or 1d20+{{mod.cha}} vs 10+spell lvl|
||Dagger|1d4||Piercing|finesse, light, thrown (20/60)|
||Spear|1d6||Piercing|thrown (20/60), versatile (1d8)|
{: .card }
{% endcapture %}{% assign spell_table = content | markdownify %}

{% capture content %}
|From|Name|When|What|
|-|
|Eladrin|Fey Step|Bonus<br>1/short|Magically teleport 30ft into an unoccupied space<br>Autumn: charm, wis save vs 8+prof+cha<br>Winter: frighten, wis save vs 8+prof+cha<br>Spring: touch willing, they teleport<br>Summer: cha fire damage|
|Warlock|Fey Prescence|Action<br>1/short|10ft cube, wis vs spell save, charm or frighten until next turn|
|Elf|Darkvision||60 ft darkvision|
|Elf|Fey Ancestry||Advantage on saving throws vs charm<br>Can't be magically put to sleep|
|Elf|Trance||4hr trance instead of sleeping|
|Eladrin|Seasons|After long rest|Change own seasons|
|Feat|Ritual Caster||Ritual spell book (sorcerer)|
|Invocation|Agonizing Blast||+cha to eldrich blast damage|
|Invocation|Voice of the Chain Master||see documentation|
|Celestial|Healing Light|Bonus action<br>{{ lvl | add: 1 }}d6/long|60 ft, spend up to {{ mod.cha }} dice for heal|
{% endcapture %}{% assign ability_table = content | markdownify %}

<div class="flex-centre fence-y">
{{ stat_table }}
{{ val_table }}
{{ spell_table }}
</div>

{% capture content %}
# Traits & Abilities

<div class="bleed">
{{ ability_table }}
</div>

# Equipment

gp: {{ gp }}

{: .li-flat }
{% for entry in equipment -%}
- {{entry}}
{% endfor %}

# Proficiencies

- Langs:
  <!--elf--> Common, ~~Quenya~~ Elvish,
  <!--background--> Dwarvish
- Armour: Light armour
- Weapons:
  <!--warlock--> Simple weapons
- Tools: Herbalism kit

|**Known Cantrips**|{{ cantrips_known }}|
|**Known Spells**|{{ spells_known }}|

{% endcapture %}<div class="content-width">{{ content | markdownify }}</div>
