/*
 * Styling affecting the overall site
 */

.p-summary {
	font-style: italic;
}

#site-nav {
	@media print { display: none; }

	// from https://css-tricks.com/easing-linear-gradients/
	$base-opacity: 0.5;
	background: radial-gradient(100% 100% at top,
		fade-out($filled-bg, $base-opacity) 0%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.262) 19%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.459) 34%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.618) 47%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.722) 56.5%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.806) 65%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.874) 73%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.925) 80.2%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.958) 86.1%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.979) 91%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.992) 95.2%,
		fade-out($filled-bg, $base-opacity + (1 - $base-opacity) * 0.998) 98.2%,
		fade-out($filled-bg, 1) 110%,
	);

	border-top: .2rem solid var(--filled-bg);

	padding: 1rem 0 1.5rem;
	margin-bottom: -1rem;

	font-family: var(--hand-font-family);
	font-weight: 700;
	font-size: 1.2em;

	display: flex;
	flex-wrap: wrap-reverse; // reverse is needed to make z-index correct for occluding the stalks
	justify-content: center;
	gap: 1rem 0.5rem;

	.paper[aria-current] {
		background: var(--filled-bg);
		color: var(--filled-fg);
	}

	// TODO make paper not be transparent
	.paper::after {
		content: "";

		display: block;
		position: absolute;
		left: 50%;
		bottom: 100%;
		width: 0.15em;
		height: 20rem;

		background-color: var(--stroke);

		transform: rotate(calc(-1 * var(--angle)));
		transform-origin: center bottom;

		pointer-events: none;
	}
}

#site-footer {
	margin: 1rem auto;
	font-size: 80%;

	@media print { display: none; }
}

/*
 * Styling specific to individual posts
 */

blockquote[admonition] {

	/*
	 *   |           __________ |
	 *   |[     ]   |          ||
	 *   |[ img ]<2>|<1>text<1>||
	 *   |[     ]   |__________||
	 *   |<--3-->               |
	 *   |                      |
	 */
	$padding: 1rem; // 1. text padding
	$gap: 1rem; // 2. space between image and text
	$size: 4rem; // 3. image size

	// TODO media query for if page is too narrow?

	// make a gap on the left
	max-width: calc(100% - #{$size + $gap});
	margin: 1rem 0 1rem #{$size + $gap};
	padding: 0 $padding;

	// move it to the right position
	& > img:first-child, & > picture:first-child {
		position: absolute;
		margin-left: #{-$size - $gap - $padding};
	}

	& > img:first-child, & > picture:first-child, & > picture:first-child > img {
		height: $size;
		width: auto;
	}

	// Stops images of really short admonitions from overlapping subsequent
	// paragraphs.
	//
	// I would prefer if this was like margin or sth, but 1. I haven't bothered
	// to see if it's possible, and 2. I feel like there would be issues with
	// margin collapse.
	min-height: $size;

	width: fit-content; // don't fill the width for short texts

	@include card;

	/*&::before {
		$triangle-size: $embedded-margin * 0.75;

		content: "";

		display: block;
		width: 0;
		height: 0;

		position: absolute;
		margin-left: -$padding - $triangle-size * 2;
		margin-top: 1rem;
		border: $triangle-size solid transparent;
		border-right-color: var(--stroke);
	}*/
}

.footnotes {
	@include fence(top);
	margin-top: 1rem;
	padding-top: 1rem;
}

.sparkle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
	font-weight: bold;
	font-style: italic;

	&::before, &::after {
		content: "✨";
		margin: 0 0.5em;
	}

	// flip em
	em {
		font-style: normal;
	}
}
