body:has(dialog[open]) {
	overflow: hidden;
	scrollbar-gutter: stable;
}

#feedback-button {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	writing-mode: vertical-rl;
	line-height: 1;
}

dialog#feedback {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: none;
	height: auto;
	max-height: none;
	padding: 0;
	margin: 0;
	border: none;

	overflow: hidden;
	scrollbar-gutter: stable;

	details {
		position: absolute;
		width: 100%;
		padding: 0 calc(50% - var(--content-width) / 2);
		margin: 0;

		background: var(--body-bg);
		opacity: 95%;
		border-bottom: 1px solid var(--stroke);
	}

	form {
		display: grid;
		grid-template-columns: 1fr 5rem;
		grid-template-rows: auto;
		grid-template-areas:
			"title submit"
			"description description";

		> * {
			width: 100%;
		}
	}

	canvas {
		width: 100%;
		display: block;
		margin: auto;
	}
}
