body:has(dialog[open]) {
	overflow: hidden;
	scrollbar-gutter: stable;
}

#feedback-button {
	position: fixed;
	right: 0;
	bottom: 1rem;

	writing-mode: vertical-rl;
	line-height: 1;
}

dialog#visual-feedback {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: none;
	height: auto;
	max-height: none;
	padding: 0;
	margin: 0;
	border: none;

	overflow: hidden;
	scrollbar-gutter: stable;

	details {
		position: absolute;
		bottom: 0;
		right: 0;

		margin: 0;

		width: 90%;
		max-width: 20rem;

		background: var(--body-bg);
		opacity: 95%;
		border-bottom: 1px solid var(--stroke);
	}

	form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;
		grid-template-rows: auto;
		grid-template-areas:
			"description description"
			"cancel submit";

		> * {
			width: 100%;
		}
	}

	canvas {
		width: 100%;
		display: block;
		margin: auto;

		touch-action: none;
	}
}

@media print {
	#feedback-button,
	#visual-feedback {
		display: none;
	}
}
