{% extends "./default.html" %}

{% block content %}
<article class="h-entry">

	{% import "layout/macros.html" as macros with context %}
	{{ macros.post_nav() }}

	<header class="content-width" style="text-align: center">
		<h1 class="p-name">{{ page.props.title }}</h1>
		{% if page.props.excerpt %}
		<p class="p-summary">
			{{ page.props.excerpt | escape }}
		</p>
		{% endif %}

		<ul class="li-flat">
			{% if page.props.date %}
			<li>
				<a class="u-url" href="{{ page.url }}">
					<time datetime="{{ page.props.date.strftime("%Y-%m-%d") }}" class="dt-published">
						{{ page.props.date.strftime("%-d %b %Y") }}
					</time>
				</a>
			</li>
			{% endif %}

			<li>
				{% set wc = content | striptags | wordcount %}
				{% set readtime = [(wc + 100) // 200, 1] | max %}
				<abbr title="{{ wc }} total words">{{ readtime }} min{% if readtime != 1 %}s{% endif %} to read</abbr>
			</li>
			{#
			{% set tags = parse_tags(page.props) %}
			{% if tags %}
			<li>
				<span id="post-tag-label">Tags:</span>
				{% for tag in tags %}
					<a class="p-category paper" href="/tags#{{ tag }}">{{ tag }}</a>
				{% endfor %}
			</li>
			{% endif %}
			#}
		</ul>

	</header>

	{% if page.props.series %}
	<aside class="content-width">
		<details>
			<summary>
				This post is part of the <em class="paper">{{ page.props.series }}</em> series!
			</summary>

			<ol>
				{% for post in collection.series[page.props.series] %}
					{% set post = recipe.build(post.meta) %}
					<li>
						<a href="{{ post }}">{{ post.props.title | e }}</a>
						{% if post.url == page.url %}<strong>&larr; You are here!</strong>{% endif %}
					</li>
				{% endfor %}
			</ol>
		</details>
	</aside>
	{% endif %}

	<hr class="lit">

	{% block post_content %}
	<main class="e-content content-width">
		{{ content }}
	</main>
	{% endblock post_content %}

	{{ macros.post_nav() }}

	<hr>

	<aside class="content-width">
		<h2>Interactions</h2>

		{% import "./macros.html" as macros with context %}
		{{ macros.comments() }}
	</aside>

</article>
{% endblock content %}
