---
layout: default
---

{% include post-nav.html %}

<h1>{{ page.title | escape }}</h1>

<div id="post-meta">
	<span id="post-date">{{ page.date | date_to_long_string }}</span>
	{% if page.tags %}
	|
	<span id="post-tags">
		<span class="text-muted">Tags:</span>
		{% for tag in page.tags %}
			<a href="{{ "/tags.html" | relative_url }}#{{ tag }}">{{ tag }}</a>
		{% endfor %}
	</span>
	{% endif %}
</div>

<hr>

{{ content }}

<hr>

{% include post-nav.html %}

<hr>

{% include utterances.html %}
