---
layout: plain
main_class: h-entry content-width
---

{% unless page.noindex %}
{% include post-nav.html %}
{% endunless %}

<header class="post-meta fence-b mb-1 text-centre bleed">
	<h1 id="post-title" class="p-name">{{ page.title | escape }}</h1>
	<p class="p-summary"><em>
		{{ page.excerpt }}
	</em></p>
	<ul class="li-flat">
		<li>
		<time datetime="{{ page.date | date_to_xmlschema }}" class="dt-published">
			<a class="u-url" href="{{ page.url | replace: 'index.html', '' | relative_url }}">
			{{ page.date | date_to_long_string }}
			</a>
		</time>
		</li>

		<li>
			{% assign wc = content | strip_html | number_of_words: "auto" | plus: 100 | divided_by: 200 | at_least: 1 %}
			<abbr title="{{ content | strip_html | number_of_words: "auto" }} total words">{{ wc }} min{% if wc != 1 %}s{% endif %} to read</abbr>
		</li>

		{% assign tagcount = page.tags | size %}
		{% if tagcount > 0 %}
		<li id="post-tags">
			<span id="post-tag-label">Tags:</span>
			{% for tag in page.tags %}
				<a class="p-category badge" href="{% link tags.html %}#{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</li>
		{% endif %}
	</p>
</header>

<article class="post-content e-content bounded">
	{{ content }}
</article>

{% unless page.noindex %}
{% include post-nav.html %}
{% endunless %}

{% include comments.html %}
