---
layout: default
main_class: h-entry content-width
---

{% capture post_nav %}
<nav class="my-1">
	{% if page.previous %}
		<a style="float: left; text-align: left" href="{{ page.previous.url | relative_url }}">&laquo; {{ page.previous.title }}</a>
	{% endif %}

	{% if page.next %}
		<a style="float: right; text-align: right" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &raquo;</a>
	{% endif %}

	<div style="clear: both"></div>
</nav>
{% endcapture %}

{% unless page.noindex %}
{{ post_nav }}
{% endunless %}

<header class="post-meta fence-b mb-1 text-centre bleed">
	<h1 id="post-title" class="p-name">{{ page.title | escape }}</h1>
	<p class="p-summary"><em>
		{{ page.excerpt }}
	</em></p>
	<ul class="li-flat">
		<li>
		<time datetime="{{ page.date | date_to_xmlschema }}" class="dt-published">
			<a class="u-url" href="{{ page.url | replace: 'index.html', '' | relative_url }}">
			{{ page.date | date_to_long_string }}
			</a>
		</time>
		</li>

		<li>
			{% assign wc = content | strip_html | number_of_words: "auto" | plus: 100 | divided_by: 200 | at_least: 1 %}
			<abbr title="{{ content | strip_html | number_of_words: "auto" }} total words">{{ wc }} min{% if wc != 1 %}s{% endif %} to read</abbr>
		</li>

		{% assign tagcount = page.tags | size %}
		{% if tagcount > 0 %}
		<li id="post-tags">
			<span id="post-tag-label">Tags:</span>
			{% for tag in page.tags %}
				<a class="p-category badge" href="{% link tags.html %}#{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</li>
		{% endif %}
	</p>
</header>

<article class="e-content">
	{{ content }}
</article>

{% unless page.noindex %}
{{ post_nav }}
{% endunless %}

{% include comments.html %}
