---
layout: post-wide
title: Virtual Piano
excerpt: For when you lack a real piano
date: 2024-01-11
tags:
---

<section id="piano" tabindex="0">
{% for octave in range(2, 6) %}
<section class="octave" data-octave="{{ octave }}">
	{% for idx, note, sharp in [
		(0, "C", false), (0, "C", true),
		(1, "D", false), (1, "D", true),
		(2, "E", false),
		(3, "F", false), (3, "F", true),
		(4, "G", false), (4, "G", true),
		(5, "A", false), (5, "A", true),
		(6, "B", false),
	] %}
	<div
		class="key"
		data-nr="{{ idx + octave * 7 }}"
		data-pitch="{{ note }}{% if sharp %}#{% endif %}{{ octave }}"
		aria-pressed="false"
		data-{% if sharp %}black{% else %}white{% endif %}="1"
	></div>
	{% endfor %}
</section>
{% endfor %}
</section>

<p id="chordname" class="content-width" style="text-align: center">
-
</p>

<div class="content-width" style="text-align: center">
	<button type="button" onclick="--base[0]; relabel()">&larr; top row</button>
	<button type="button" onclick="++base[0]; relabel()">top row &rarr;</button>
	<button type="button" onclick="--base[1]; relabel()">&larr; bottom row</button>
	<button type="button" onclick="++base[1]; relabel()">bottom row &rarr;</button>
</div>

<br>

<details class="content-width"><summary>About</summary>
{% filter markdownify %}
I'm currently learning music theory.
However, I don't have any instruments other than my violin, which I can't really mess around with chords on.
This is my substitute.

Credits:

- Inspired by [Online Pianist](https://www.onlinepianist.com/virtual-piano), in particular the key layout.
- This uses [Tone.js](https://tonejs.github.io/) (MIT) to play sounds.
- The sounds are [Salamander Grand Piano V2](https://github.com/Tonejs/audio/tree/master/salamander) (CC BY 3.0), by Alexander Holm.
{% endfilter %}
</details>

<link rel="stylesheet" href="{{ recipe.sass("./main.scss", page.url + "/main.css") }}">
{% for path in recipe.readdir(".") %}
	{% if path.suffix == ".mjs" %}
		{% do recipe.copy(path, page.url + "/" + path.name) %}
	{% endif %}
{% endfor %}
<script type="module" defer src="{{ page.url }}/main.mjs"></script>
